Repository HamoyeHQ/01-University-Admissions, pull requests merged in 2020-10, with the labels that each got.

#16 Charles Modelling Notebook
  model/University.ipynb
Labels: hacktoberfest-accepted, model

#17 Added ANN Model
  EDA and Visualization/Admission_Predict.csv
  data/Admission_Predict.csv
  model/Predict_Chances_Admission.ipynb
  model/model.h5
Labels: hacktoberfest-accepted, model

#15 Eda, preprocessing and Sklearn models
  eda-on-graduate-admission (1).ipynb
  model/model-graduate-admission.ipynb
Labels: eda, hacktoberfest-accepted, model

#9 university Admission EDA.ipynb
  Notebooks/university.ipynb
  data/university.ipynb
Labels: eda, hacktoberfest-accepted

#14 This is a brief visualization on the project
  EDA and Visualization/EDA and Visualization.ipynb
Labels: eda, hacktoberfest-accepted
